body{
    font-size: 12px;
}
table.table-hover{
    cursor: pointer;
}
a.selected{
    text-decoration: none;
    color: #5e5e5e;
}

.modal-dialog{
    width:100% !important;
}
.modal-content{
    width:780px; margin:0 auto;
}
.modal-content .modal-header { cursor: move; }

.form-control{width:100%;}

.modal.minimizated{position: absolute; bottom:0 !important; height:58px; left:0; top:auto!important; overflow:hidden;}
.modal.minimizated .modal-dialog{padding:0;}
.modal.minimizated .modal-body{display:none;}
.modal.minimizated .modal-footer{display:none;}
.modal.fullscreen .modal-content{width:100%!important;}

/*
.modal-header .icon-remove{background:#ac2925;}
.modal-header .icon-minus{background:#efefef;}*/
.leftBar{
    width: 217px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 0;
    min-height: 100%;
}
.mainBar{
    position: relative;
    margin:0 0 0 219px;
}
.navbar-brand{width:217px;}
.container{max-width:1920px;}

#element-nav{margin: 0 0 20px 0;}

a.order.desc:after{ content: " \F106"; font-family: FontAwesome;}
a.order:after{ content: " \F107"; font-family: FontAwesome;}
a.order{white-space: nowrap;}

.leftBar .panel{margin-top: 30px;}
.navbar-brand.logo{padding:10px 0 0 12px;}

.filter .bootstrap-select.btn-group,
.filter .bootstrap-select.btn-group[class*="span"] {
    float: none;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0;
}

table.selectable #filter_id{width:80px;}
table.selectable #selectAll{margin-right:8px;}

.loading{background: url(../images/ajax-loader.gif) no-repeat center center;}

.modal-body.loading, #page.loading{min-height: 150px;}

.popover{z-index: 1050;}

.input-group .bootstrap-select .btn{
    border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right:0px;
}