html             { height: 100%; }
body             { min-height: 100%; padding: 0; margin: 0; margin-top: -1px; padding-top: 1px; }
._wysihtml5-temp { display: none; }
body.placeholder { color: #a9a9a9 !important; }
body[disabled]   { background-color: #eee !important; color: #999 !important; cursor: default !important; }
img:-moz-broken  { -moz-force-broken-image-icon: 1; height: 24px; width: 24px; }

.wysiwyg-color-black {
    color: black;
}

.wysiwyg-color-silver {
    color: silver;
}

.wysiwyg-color-gray {
    color: gray;
}

.wysiwyg-color-white {
    color: white;
}

.wysiwyg-color-maroon {
    color: maroon;
}

.wysiwyg-color-red {
    color: red;
}

.wysiwyg-color-purple {
    color: purple;
}

.wysiwyg-color-fuchsia {
    color: fuchsia;
}

.wysiwyg-color-green {
    color: green;
}

.wysiwyg-color-lime {
    color: lime;
}

.wysiwyg-color-olive {
    color: olive;
}

.wysiwyg-color-yellow {
    color: yellow;
}

.wysiwyg-color-navy {
    color: navy;
}

.wysiwyg-color-blue {
    color: blue;
}

.wysiwyg-color-teal {
    color: teal;
}

.wysiwyg-color-aqua {
    color: aqua;
}

.wysiwyg-color-orange {
    color: orange;
}